<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--配置一个服务-->
  <system.serviceModel>
    <services>
      <!--name属性，指定的时候后要用完全限定名(带着命名空间)-->
      <service name="HelloWCFService_Config.HelloWCFService" behaviorConfiguration="metaExchange">
        <host>
          <baseAddresses>
            <!--基地址-->
            <add baseAddress="http://localhost:8000/MyService"/>
          </baseAddresses>
        </host>
        <!--服务终结点 （指定地址、绑定、服务协议接口->[限定名称]）-->
        <endpoint address="HelloWCFService" binding="wsHttpBinding" contract="HelloWCFService_Config.IHelloWCFService" />
        <!--建立元数据交换终结点-->
        <endpoint  address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <!--元数据行为-->
    <behaviors>
      <serviceBehaviors>
        <!--行为名称-->
        <behavior name="metaExchange">
          <!--启用元数据交换行为-->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>