<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="HelloWCFService_IIS.HelloWCFService" behaviorConfiguration="metadataExchange">        
        <!--服务终结点 （指定地址、绑定、服务协议接口->[限定名称]）-->        
        <!--注意：这里地址指定为空，表示使用【服务基地址】作为终结点地址，也可以指定一个相对地址，但不能指定绝对地址，必须服从IIS指定的基地址。-->
        <endpoint address="" binding="wsHttpBinding" contract="HelloWCFService_IIS.IHelloWCFService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>    
    <!--元数据行为-->
    <behaviors>
      <serviceBehaviors>        
        <!--行为名称-->
        <behavior name="metadataExchange">          
          <!--启用元数据交换行为-->
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>